.rotation {
    height: 568px;
    width: 568px;
    position: absolute;
    right: 0;
    top: 64px;
    background-color: #2f80ed;
    animation: rotation 20s ease-in-out 1s infinite backwards;
    
  }